.footer {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 0.9rem;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #00ff2a; /* Accent color on hover */
}
